# WalletConnect Project ID (从 https://cloud.walletconnect.com 获取)
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=510c4e570c389d79bece20ab14c075b9

# Supabase 配置 (从 Supabase 项目设置获取)
NEXT_PUBLIC_SUPABASE_URL=https://mtfhjzbfldwoqonnbaez.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im10ZmhqemJmbGR3b3Fvbm5iYWV6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY5MDAxNzksImV4cCI6MjA5MjQ3NjE3OX0.Cmh7lFVWJ1oFnVQURlJ3PBnElMT_GAXQV794VpnbicI
